.libproxy-button {
  --green: #72bf44;

  position: fixed;
  z-index: 9999;
  top: 40%;
  right: 0;
  width: 56px;
  height: 48px;
  padding: 8px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  transform: translateX(8px);

  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  background-color: var(--green);
  fill: white;

  user-select: none;
  outline: none !important;

  transition: transform 0.25s;
  animation: slideInFromRight 0.25s;
}

.libproxy-button:hover {
  transform: translateX(0);
}

@keyframes slideInFromRight {
  0% {
    right: -48px;
  }

  100% {
    right: 0;
  }
}
